<div class="parent">


    <!-- Nav My Profil -->
    <div class="div1">
        <a href="/myProfil"><img src="app/image/work-from-home-6636480_1920.png" alt="Illustration Personne Hamac">
        </a>

    </div>


    <!-- Nav My Skills -->
    <div class="div2">
        <a href="/mySkills"> <img src="app/image/technology-3358837_1920.jpg" alt="illustation cerveau technologie">
        </a>
    </div>


    <!-- Nav My Works -->
    <div class="div3">
        <a href="/myWorks"> <img
                src="app/image/kisspng-graphic-design-blurred-creative-user-experience-we-logo-design-lightning-sites-small-business-websit-5b6efd863930f5.4105908415340005182343.png"
                alt="Illustration experiences"></a> </div>


    <!-- Nav Contact -->
    <div class="div4">
        <a href="/contactMe"> <img src="app/image/image-contact.jpg" alt="Illustration contact"></a>
    </div>